body {
  background-color: #9d9d9d;
}

.nav-custom {
  font-size:25px;
}

.zone-custom {
  color:white;
	background-color: #787878 ;
	border-radius:10px;
	border:1px black solid;
  font-size: 17px;
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}

.titre-custom {
  margin-top:2%;
  text-decoration: underline;
}
